body{
    background-color:white;
}

table{
    border: 2px dashed red;
}
.bold{ 
    color: red;
    font-weight: bold;
}
.green {
    color: green;
}
.size1{
    width: 200px;
    height: 40px;
    text-align: center;
}
.green1 .bold{
    color: green;
}
.green1 .green{
    color:red;
}
.green1{
    border-color: green;
}