* {
margin: 0;
padding: 0;
border: 0;
}

.site-header {
    position: relative;
    float: left;
    z-index: 2;
    width: 100%;
    height: auto;
    min-height: 174px;
    padding: 0;
    margin-bottom: 10px;
    background-color: #1a1a1a;
}

.header-top {
    width: 100%;
    height: 28px;
    background-color: #111111;
}

.content-container1 {
    width: 485px;
    height: 28px;
    background-color:#111111;
}  

.htopleft {
 float:left;
 margin: 0px 0px 0px 189px;
}

    
.main-slider .navmenu {
  display: inline-block;
  background-color: transparent;
  position: absolute;
     
}

    .main-slider .navmenu li {
        float: left;
        font-size: 10px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        padding: 7px 12px 7px 0;
        color: #EEEEEE;
    }

.content-container2 {
    width: 485px;
    height: 28px;
    background-color:#111111;  
}
.htopright {
    float:right;
    margin: 0px 189px 0px 0px;
}

.twitter {
    float:right;
    width:18px;
    height:18px;
    padding: 3px;
    background-color: #DCDCDC;
    border-radius: 100%;
    color: #000;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
}

.insta {
    float:right;
    width: 18px;
    height:18px;
    margin: 5px 3px 0px;
    text-align: center;
    line-height: 18px;
    background-color: #DCDCDC;
    border-radius: 100%;
    color: #000;
}

.facebook {
    float:right;
    width: 18px;
    height:18px;
    margin: 5px 3px 0px;
    text-align: center;
    line-height: 18px;
    background-color: #DCDCDC;
    border-radius: 100%;
    color: #000;   
}

.header-middle {
    widows: 100%;
    height: 102px;
    margin:29px 0px 0px 0x;
    background-color:#1a1a1a;
}

.content-container3 img {
    width:230px;
    height: 99px;
    float:left;
    margin:2px 0px 0px 189px;
    background-color:black;
}

.content-container4 img {
    width: 728px;
    height: 99px;
    float: right;
    margin:2px 189px 0px 3px;
}

.header-bottom {
    width: 100%;
    height: 46px;
    background-color:#111111;
    float:left;
}

.content-container5 {
  width: 988px;
  height: 46px;
  background-color:#111111;
  margin: 0px 0px 0px 189px;
}
.homebutton {
    width:44px;
    height:40px;
    margin:5px 0 0 0;
}

.button-novost {
    display: inline;
    font-size: 17px;
    width:98px;
    height:46px;
    text-align:center;
    outline: none;
    cursor: pointer;
    color: #DCDCDC;
    background-color:transparent;
}

.button-zivoten {
    display: inline;
    font-size: 17px;
    width:143px;
    height:46px;
    text-align:center;
    outline: none;
    cursor: pointer;
    color: #DCDCDC;
    background-color:transparent;
}

.button-astro {
    display: inline;
    font-size: 17px;
    width:74px;
    height:46px;
    text-align:center;
    outline: none;
    cursor: pointer;
    color: #DCDCDC;
    background-color:transparent;
}

.button-dom {
    display: inline;
    font-size: 17px;
    width:60px;
    height:46px;
    text-align:center;
    outline: none;
    cursor: pointer;
    color: #DCDCDC;
    background-color:transparent;
}

.button-hrana {
    display: inline;
    font-size: 17px;
    width:74px;
    height:46px;
    text-align:center;
    outline: none;
    cursor: pointer;
    color: #DCDCDC;
    background-color:transparent;
}

.button-zabava {
    display: inline;
    font-size: 17px;
    width:83px;
    height:46px;
    text-align:center;
    outline: none;
    cursor: pointer;
    color: #DCDCDC;
    background-color:transparent;
}

.button-kvizovi {
    display: inline;
    font-size: 17px;
    width:96px;
    height:46px;
    text-align:center;
    outline: none;
    cursor: pointer;
    color: #DCDCDC;
    background-color:transparent;
}

.button-video {
    display: inline;
    font-size: 17px;
    width:77px;
    height:46px;
    text-align:center;
    outline: none;
    cursor: pointer;
    color: #DCDCDC;
    background-color:transparent;
}

.button-foto {
    display: inline;
    font-size: 17px;
    width:69px;
    height:46px;
    text-align:center;
    outline: none;
    cursor: pointer;
    color: #DCDCDC;
    background-color:transparent;
}

.button-forum {
    display: inline;
    font-size: 17px;
    width:78px;
    height:46px;
    text-align:center;
    outline: none;
    cursor: pointer;
    color: #DCDCDC;
    background-color:transparent;
}

.search-button {
    width:42px;
    height:40px;
    background-color:#1111111;
    cursor: pointer;
    margin:0px 0px 0px 5px;
}

.content-container6 {
    width:100%;
    height: 2681px;
    background-color:#666666

}

.content-container6 img{
    width: 970px;
    height: 250px;
    float:left;
    margin: 0px 185px 0px 185px;

}