* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    }

body {
    background-color: #1d2c3f;
    margin: 50px;
}

.container-left {
    width: 290px;
    height: 290px;
    background-color: #f8f9fa;
    margin-left:10px;

}
.flaer2{
    width:575px;
    height:319px;
    background-color: #f8f9fa;
    border-radius: 7px;
}
.flaer2 .title {
    font-size: 23px;
    font-weight: bold;
    color:#4e4f53 ;
    padding: 36px 0px 0px 40px;
    text-align: left;
}


.flaer2 .title1 {
    font-size: 23px;
    font-weight: bold;
    color:#4e4f53 ;
    padding: 8px 0px 0px 40px;
    text-align: left;
}

.star-raiting {
    width:150px;
    height:20px;
    background-color: #f8f9fa;
    margin-top:21px;
    margin-left:39px;
}

.star-raiting .raiting1{
    font-size:18px;
    color:#dadbdd;
}

.recommend {
    width: 133px;
    height: 10px;
    background-color:  #f8f9fa;
    margin-top:16px;
    margin-left:39px;

}

.recommend .text1 {
    color:#8bc058;
    font-size:12px;
    font-weight: bold;
    font-display: inline;
}

.info img {
    width:138px;
    height:40px;
    margin-top:18px;
    margin-left: 40px;
}

.recipe {
    width: 103px;
        height: 32px;
        border-radius: 5px;
        border: none;
        outline: none;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        background-color: #8bc058;
        margin-top: 30px;
        margin-left:40px;
    }   

.background-foto {
    width:200px;
    height:280px;
    background-color: #f8f9fa;
    float:right;
    margin: 20px 60px 10px 0px;
}
 
.background-foto img{
    margin: 36px 30px 30px 0px;

}
