* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    }

body {
    background-color: #1d2c3f;
    margin: 50px;
} 

.flaer-ribi {
    width: 466px;
    height: 319px;
    border-radius: 12px;
    background-image: url("images/background.png")
}
    .title {
        width: 180px;
        font-size: 20px;
        line-height: 20px;
        font-weight:bold;
        color: #ffffff;
        padding: 41px 0px 0px 36px;
        font-family: sans-serif; 
    }

    .first-meal {
        width: 181px;
        height: 45px;
        background-color: transparent;
        margin-left: 36px;
        margin-top: 41px;
    }
    .button {
        background-color: #7ab046;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration:none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
    }

    .button1{
        border-radius: 50%;
    }

    .text1{
        width: 141px;
        height: 40px;
        background-color: transparent;
        float:right;
    }
    
    .specijalitet1 {
        font-size: 14px;
        color:#ffffff;
        font-weight:none;
    }
.second-meal {
    width: 194px;
    height:40px;
    background-color: transparent;
    margin-top:32px;
}

   .button {
        background-color:#7ab046 ;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration:none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
    
    }

    .button2{
     display:block;
     height: 9px;
     width: 9px;
     border-radius: 50%;
     border: 12px;
    }

    .text2 {
        width:167px;
        height: 41px;
        float: right;
    }

      .text2 .specijalitet2 {
          text-align: left;
          font-size: 14px;
          color:#ffffff;
          font-weight:none;
          margin-left: 14px;
      }

.button3 {
    width: 92px;
    height: 31px;
    background-color:#e9342c;
    margin:37px 0px 36px 35px;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color:#fff;
    border-radius: 5px;
}  


