body {
    background-color: darkgrey;
    font-family: 'Open Sans', sans-serif;
}

.weather-widget {
    width:366px;
    height:528px;
    background-color: #242424;
    border-radius: 10px;
}

.upper-box {
    width:366px;
    height:316px;
    background-color: red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url("./images0112/weatherbackground.png");
}

.temperature {
    width: 198px;
    height: 110px;
    font-size:110px;
    font-weight: bold;
    text-align: center;
    color:#ffffff;
    padding:90px 0 0 98px;
}

.simbols {
    width: 142px;
    height:34px;
    padding: 35px 0 0 111px;
}

.cloudy {
    width: 75px;
    height:19px;
    font-size:19px;
    color:#ffffff;
    padding-left: 15px; 
}

.box-down {
    width:366px;
    height: 212px;
    background-color: #242424;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    
}

    .rain {
        width:310px;
        height:16px;
        background-color:transparent;
        margin: 20px 21px 13px 26px;
    } 
        .rain img {
            width:24px;
            height:24px;
            float:left;
        }

        .rain .tuesday{
        font-size: 16px;
        color:#ffffff;
        text-align: center;
        margin: 0px 0px 10px 19px;
        }

        .rain .may {
            color: #4db2ac;
        }
        
        .rain .degrees1{
            width: 30px;
            height: 16px;
            font-size: 16px;
            color:#edec93;
            float:right;

        }
    .partly-sunny {
        width:310px;
        height:16px;
        background-color:transparent;
        margin: 20px 21px 13px 26px;
    }

        .partly-sunny img {
        width:24px;
        height:24px;
        float:left;
    }

        .partly-sunny .wednesday{
        font-size: 16px;
        color:#ffffff;
        text-align: center;
        margin: 0px 0px 10px 19px;
    }

        .partly-sunny .may {
         color: #4db2ac;
    }
    
        .partly-sunny .degrees1 {
        width: 30px;
        height: 16px;
        font-size: 16px;
        color:#edec93;
        float:right;
        }

        .sun {
            width:310px;
            height:16px;
            background-color:transparent;
            margin: 20px 21px 13px 26px;
        }
    
        .sun img {
        width:24px;
        height:24px;
        float:left;
    }

        .sun .thursday{
        font-size: 16px;
        color:#ffffff;
        text-align: center;
        margin: 0px 0px 10px 19px;
    }

        .sun .may {
         color: #4db2ac;
    }
    
        .sun .degrees1{
        width: 30px;
        height: 16px;
        font-size: 16px;
        color:#edec93;
        float:right;
        }
    
    .sun2 {
        width:310px;
        height:16px;
        background-color:transparent;
        margin: 20px 21px 13px 26px;
    }

    .sun2 img {
        width:24px;
        height:24px;
        float:left;
    }

        .sun2 .tuesday{
        font-size: 16px;
        color:#ffffff;
        text-align: center;
        margin: 0px 0px 10px 19px;
    }

        .sun2 .may {
         color: #4db2ac;
    }
    
        .sun2 .degrees1{
        width: 30px;
        height: 16px;
        font-size: 16px;
        color:#edec93;
        float:right;
        }